@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #fff;
    min-width: 100vw;
}

@media (min-width:360px) {

    #home {
        width: 100vw;
        height: 100vh;
        background: url(../img/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #header {
        position: fixed;
        top: 0;
        right: 0;

        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.9);
        box-shadow: 5px 5px 12px;
        padding: 25px 20px 25px 20px;
        z-index: 1000;
    }

    .logo {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        color: #fff;
        letter-spacing: 1.5px;
        cursor: pointer;
    }

    #toggle {
        position: absolute;
        top: 25%;
        right: 20px;

        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    #toggle::before {
        content: '';
        position: absolute;
        top: 18px;
        left: 10px;

        width: 20px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
        transform: translateY(-5px);
        transition: 0.5s;
    }

    #toggle::after {
        content: '';
        position: absolute;
        top: 18px;
        left: 10px;

        width: 20px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
        transform: translateY(5px);
        transition: 0.5s;
    }

    #toggle.active::before {
        transform: translateY(0px) rotate(45deg);
    }

    #toggle.active::after {
        transform: translateY(0px) rotate(-45deg);
    }

    #toggle.active {
        background-color: #3420202b;
    }

    #navbar {
        position: absolute;
        top: 75px;
        right: 0px;

        width: 100%;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
    }

    #navbar.active {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 80px 0;
    }

    #navbar>ul {
        position: relative;
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    #navbar>ul>li {
        margin: 5px 0;
    }

    #navbar>ul>li>a {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        font-style: normal;
        color: #fff;
        letter-spacing: 5px;
        cursor: pointer;
    }
}

@media (min-width:376px) {

    #home {
        width: 100vw;
        height: 100vh;
        background: url(../img/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #header {
        position: fixed;
        top: 0;
        right: 0;

        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.9);
        box-shadow: 5px 5px 12px;
        padding: 25px 20px 25px 20px;
        z-index: 1000;
    }

    .logo {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        color: #fff;
        letter-spacing: 1.5px;
        cursor: pointer;
    }

    #toggle {
        position: absolute;
        top: 25%;
        right: 20px;

        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    #toggle::before {
        content: '';
        position: absolute;
        top: 18px;
        left: 10px;

        width: 20px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
        transform: translateY(-5px);
        transition: 0.5s;
    }

    #toggle::after {
        content: '';
        position: absolute;
        top: 18px;
        left: 10px;

        width: 20px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
        transform: translateY(5px);
        transition: 0.5s;
    }

    #toggle.active::before {
        transform: translateY(0px) rotate(45deg);
    }

    #toggle.active::after {
        transform: translateY(0px) rotate(-45deg);
    }

    #toggle.active {
        background-color: #3420202b;
    }

    #navbar {
        position: absolute;
        top: 75px;
        right: 0px;

        width: 100%;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
    }

    #navbar.active {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 80px 0;
    }

    #navbar>ul {
        position: relative;
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    #navbar>ul>li {
        margin: 5px 0;
    }

    #navbar>ul>li>a {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        font-style: normal;
        color: #fff;
        letter-spacing: 5px;
        cursor: pointer;
    }
}

@media (min-width:576px) {

    #home {
        width: 100vw;
        height: 100vh;
        background: url(../img/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #header {
        position: fixed;
        top: 0;
        right: 0;

        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.9);
        box-shadow: 5px 5px 12px;
        padding: 25px 20px 25px 20px;
        z-index: 1000;
    }

    .logo {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        color: #fff;
        letter-spacing: 1.5px;
        cursor: pointer;
    }

    #toggle {
        position: absolute;
        top: 25%;
        right: 20px;

        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    #toggle::before {
        content: '';
        position: absolute;
        top: 18px;
        left: 10px;

        width: 20px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
        transform: translateY(-5px);
        transition: 0.5s;
    }

    #toggle::after {
        content: '';
        position: absolute;
        top: 18px;
        left: 10px;

        width: 20px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
        transform: translateY(5px);
        transition: 0.5s;
    }

    #toggle.active::before {
        transform: translateY(0px) rotate(45deg);
    }

    #toggle.active::after {
        transform: translateY(0px) rotate(-45deg);
    }

    #toggle.active {
        background-color: #3420202b;
    }

    #navbar {
        position: absolute;
        top: 75px;
        right: 0px;

        width: 100%;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
    }

    #navbar.active {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 80px 0;
    }

    #navbar>ul {
        position: relative;
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    #navbar>ul>li {
        margin: 5px 0;
    }

    #navbar>ul>li>a {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        font-style: normal;
        color: #fff;
        letter-spacing: 5px;
        cursor: pointer;
    }
}

@media (min-width:768px) {

    #home {
        width: 100vw;
        height: 100vh;
        background: url(../img/bg.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #header {
        position: fixed;
        top: 0;
        right: 0;

        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.9);
        /* box-shadow: 0.5px 25px rgba(0, 0, 0, 0.05); */
        z-index: 1000;
    }

    .logo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        text-transform: capitalize;
        text-decoration: none;
        font-size: 28px;
        line-height: 60px;
        font-weight: 700;
        padding-left: 20px;
        color: #fff;
        cursor: pointer;
    }

    #toggle {
        position: absolute;
        top: 25%;
        right: 20px;

        display: none;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    #navbar {
        position: relative;
        top: 0px;
        right: 0px;

        width: 100%;
        height: 100%;
        display: block;
        transition: 0.5s;
        overflow: hidden;
    }

    #navbar.active {
        width: 0;
        height: 0;
    }

    #navbar>ul {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
    }

    #navbar>ul>li>a {
        text-transform: capitalize;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 3px;
        color: #ffff;
        display: inline-block;
        padding: 16px 8px 16px 8px;
        transition: 0.5s all ease;
        cursor: pointer;
    }
}

@media (min-width:992px) {
    #home {
        width: 100vw;
        height: 100vh;
        background: url(../img/bg.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #header {
        position: fixed;
        top: 0;
        right: 0;

        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.9);
        /* box-shadow: 0.5px 25px rgba(0, 0, 0, 0.05); */
        z-index: 1000;
    }

    .logo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        text-transform: capitalize;
        text-decoration: none;
        font-size: 32px;
        line-height: 60px;
        font-weight: 500;
        letter-spacing: 3px;
        padding-left: 20px;
        color: #fff;
        cursor: pointer;
    }

    #toggle {
        position: absolute;
        top: 25%;
        right: 20px;

        display: none;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    #navbar {
        position: relative;
        top: 0px;
        right: 0px;

        width: 100%;
        height: 100%;
        display: block;
        transition: 0.5s;
        overflow: hidden;
    }

    #navbar.active {
        width: 0;
        height: 0;
    }

    #navbar>ul {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
    }

    #navbar>ul>li>a {
        text-transform: capitalize;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 3px;
        color: #ffff;
        display: inline-block;
        padding: 16px 8px 16px 8px;
        transition: 0.5s all ease;
        cursor: pointer;
    }
}

@media (min-width:1240px) {
    #home {
        width: 100vw;
        height: 100vh;
        background: url(../img/bg.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #header {
        position: fixed;
        top: 0;
        right: 0;

        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.9);
        box-shadow: 5px 25px 52px;
        padding: 10px 25px;
        z-index: 1000;
    }

    .logo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        text-transform: capitalize;
        text-decoration: none;
        font-size: 32px;
        line-height: 60px;
        font-weight: 500;
        letter-spacing: 3px;
        padding-left: 20px;
        color: #fff;
        cursor: pointer;
    }

    #toggle {
        position: absolute;
        top: 25%;
        right: 20px;

        display: none;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    #navbar {
        position: relative;
        top: 0px;
        right: 0px;

        width: 100%;
        height: 100%;
        display: block;
        transition: 0.5s;
        overflow: hidden;
    }

    #navbar.active {
        width: 0;
        height: 0;
    }

    #navbar>ul {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
    }

    #navbar>ul>li>a {
        text-transform: capitalize;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 3px;
        color: #ffff;
        display: inline-block;
        padding: 16px 8px 16px 8px;
        transition: 0.5s all ease;
        cursor: pointer;
    }
}